/home/sraskin/.rvm/rubies/ruby-2.3.0/bin/ruby -e $stdout.sync=true;$stderr.sync=true;load($0=ARGV.shift) /home/sraskin/RailsProjects/scrapping/bin/rails console
>> Scrap.test
Loading development environment (Rails 4.2.6)
Switch to inspect mode.
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/9" target="_blank"><b>2RA
      Technology Limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/1076" target="_blank"><b>3DEVs
      IT Ltd.</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/1013" target="_blank"><b>3rdbell
      Entertainment limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/849" target="_blank"><b>4axiz
      IT Ltd</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/1067" target="_blank"><b>8PEARS
      SOLUTION LTD.</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/709" target="_blank"><b>A.
      R. Communications</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/1170" target="_blank"><b>A.I.G.
      DISTRIBUTIONS AND CONSULTANCY LTD.</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/12" target="_blank"><b>aamra
      infotainment limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/1010" target="_blank"><b>aamra
      networks limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/13" target="_blank"><b>aamra
      solutions limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/14" target="_blank"><b>aamra
      technologies limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/395" target="_blank"><b>ABCO
      Overseas Corporation Ltd</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/1260" target="_blank"><b>AccenTech
      Limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/411" target="_blank"><b>Accenture
      Communications Infrastructure Solutions Ltd.</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/15" target="_blank"><b>Access
      InfoTech Limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/16" target="_blank"><b>Access
      Telecom (BD) Ltd.</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/17" target="_blank"><b>Ace
      Data Products</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/484" target="_blank"><b>Activation
      Limited</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/883" target="_blank"><b>AD
      65 BD. Ltd.</b></a></td>
</tr>
<tr>
  <td class="bodytext" align="left" colspan="2">
    <a style="text-decoration:none;" href="http://www.basis.org.bd/index.php/members_area/member_detail/19" target="_blank"><b>Adaptive
      Enterprise Limited</b></a></td>
</tr>
0
