<tr>
  <td width="20%" valign="top">
    <center>
      <img src="https://www.haab-bd.com/images/stories/agency_photos/thumb_002.jpg" alt="AIR TOUCH LIMITED" width="80" border="1" style="border:1px solid #666"><br>
    </center>
  </td>
  <td width="80%" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:Arial, Helvetica, sans-serif;font-size:12px">
      <tr style="color:#4FA307">
        <td width="32%"><strong>Hajj Licence</strong></td>
        <td width="1%"><strong>:</strong></td>
        <td width="67%"><strong>002</strong></td>
      </tr>
      <tr>
        <td><strong>Agency Name</strong></td>
        <td><strong>:</strong></td>
        <td>AIR TOUCH LIMITED</td>
      </tr>
      <tr>
        <td><strong>Owner Name</strong></td>
        <td><strong>:</strong></td>
        <td>MAULANA EYAQUB SHARAFATI</td>
      </tr>

      <tr>
        <td><strong>Designation</strong></td>
        <td><strong>:</strong></td>
        <td>MANAGING DIRECTOR</td>
      </tr>
      <tr>
        <td><strong>Address</strong></td>
        <td><strong>:</strong></td>
        <td>House No-121, Road No-3, Block-A Section-12, Mirpur, Pallabi Dhaka-1216, Bangladesh</td>
      </tr>
      <tr>
        <td><strong>Phone</strong></td>
        <td><strong>:</strong></td>
        <td>9021820 (Direct), 9031301-7 (PABX)</td>
      </tr>
      <tr>
        <td><strong>Mobile</strong></td>
        <td><strong>:</strong></td>
        <td>00880-01713 064642, 00966 555572511 (KSA)</td>
      </tr>
      <tr>
        <td><strong>Fax</strong></td>
        <td><strong>:</strong></td>
        <td>00880-2-9021821</td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td><strong>:</strong></td>
        <td><a href="mailto:airtouch.sharafati@gmail.com">airtouch.sharafati@gmail.com</a></td>
      </tr>
      <tr>
        <td><strong>Website</strong></td>
        <td><strong>:</strong></td>
        <td><a href="http://www.sharafatihajjbd.com,%20www.sharafatihajjbd.webs.com" target="_blank">www.sharafatihajjbd.com,
          www.sharafatihajjbd.webs.com</a></td>
      </tr>
    </table>
  </td>
</tr>

