<td>
  <a href="detail_member.php?idn=1"><span style="color:#007da4;"><strong>The Guide Tours Ltd</strong></span><br><br>
    <strong>Membership No. :</strong>1<br><br>
    Hasan Mansur<br> <br> Rob Bhavan (6th Floor),
    Plot-22 Gulshan (North)C/A
    Gulshan Circle-2,<br>Dhaka - 1212, Bangladesh<br><br>Telephone : 9886983, 9862205 <br>Mobile : 01711524265<br>FAX :
    <br>Email : hasan@guidetours.info<br>Website :
    www.guidetours.com</a>
</td>

