/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: normal 12px Verdana;
font-family: Solaimanlipi, "Lucida Grande", sans-serif;
list-style-type: none;
border-bottom: 0px solid gray;
background: transparent;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 9px 8px; /*padding inside each tab*/
border-right: 0px solid white; /*right divider between tabs*/
color: #ffffff;
background: transparent;
font-weight:normal;
font-family: Solaimanlipi, "Lucida Grande", sans-serif;
font-size:21px;
padding: 6px 18px 9px 18px;
}

.mattblackmenu li a:visited{
color: #ffffff;
font-weight:normal;
}

.mattblackmenu li a:hover{
background: #bbe0a5; /*background of tabs for hover state */
height:22px;
color:#006633;

}

.mattblackmenu a.selected{
background: red; /*background of tab with "selected" class assigned to its LI */
font-family: Solaimanlipi, "Lucida Grande", sans-serif;

}

/* ######### Matt Blue Strip Main Menu Bar CSS ######### */

.mattbluemenu ul{
margin: 0;
padding: 0;
font-family: Solaimanlipi, "Lucida Grande", sans-serif;
list-style-type: none;
border-bottom: 1px solid gray;
background: #492374;
overflow: hidden;
width: 100%;
font-size:18px;
}

.mattbluemenu li{
display: inline;
margin: 0;
}

.mattbluemenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: #006633;
background: #3D8000;
font-family: Solaimanlipi, "Lucida Grande", sans-serif;
}

.mattbluemenu li a:visited{
color: white;
}

.mattbluemenu li a:hover{
background: #BBE0A5; /*background of tabs for hover state */
font-family: Solaimanlipi, "Lucida Grande", sans-serif;
font-size:21px;
}

.mattblackmenu a.selected{
background: #BBE0A5; /*background of tab with "selected" class assigned to its LI */
font-family: Solaimanlipi, "Lucida Grande", sans-serif;
font-size:21px;
}